.turism-news-detail-view {
    position: relative;
    width: auto;
}


.turism-news-detail-view__scroll {
    max-height: 480px;
    width: auto;
    overflow-y: auto;
    padding: 1em 3em;
    background: rgba(0, 0, 0, 0.28);
}

.turism-news-detail-view__title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
   color: #000;
}

.turism-news-detail-view__options__item__footer {
    background: rgba(35, 28, 6, 0.69);
}

.turism-news-detail-view__options__item:hover {
    background: rgba(254, 243, 109, 0.45);
}

.turism-news-detail-view__toolbar {
    top: 8em;
    right: 0px;
    height: auto;
    width: auto;
    padding: 1em 0.5em;
    background-color: #ffd740;
}

.turism-news-detail-md-content{
  background: rgba(0, 0, 0, 0.28);      
} 

.turism-news-detail-view__content{
   font-size: 15px;
   color: #7c7c72;
   font-weight: normal;
}

.turism-news-detail-view-date{
   font-size: 10px;
   color: #c0c0c0;
}