.turism-new-view__form {
    width: 60%;
    margin: auto;
    background-color: #FFF;
}  

.turism-new-view__button span {
    color: #1a4e62;
}

.edit-form-view {
    width: 90%;
    margin: auto;
    padding: 6em;
}

.edit-form-view__buttons {
    float: right;
}