/**
 * Layout
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}


/**
 * Header
 */
.main-header {
  box-shadow: none;
  display: flex;
  position: absolute;
  left: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .3) !important;
}

.main-header .md-nav-bar {
  float: right;
  height: 100px;
}

.md-nav-bar md-nav-ink-bar {
  height: 3px;
}

.main-header .md-button._md-nav-button.md-unselected {
  color: #fff;
}

.main-header__item .md-button  {
  text-transform: uppercase;
  font-size: 15px;
  padding: 40px 15px;
}


/**
 * logo
*/
.brand-logo {
  float: left;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.brand-logo__link {
  font-size: 5rem;
  color: #fff;
  text-shadow: #000 2px 2px 9px;
  font-weight: 300;
}

.brand-logo__link:hover, .brand-logo__link:active, .brand-logo__link:focus {
  text-decoration: none;
  color: #fff;
}

.brand-logo__link--secondary {
  font-weight: lighter;
  text-shadow: none;
}
