<!DOCTYPE html>
<div class="trip-gallery">            

    <md-content layout="row" layout-wrap>
        <div flex="25"  ng-repeat="trip in records" trip-gallery__list>
            
            <md-card class="trip-card">
                    <img ng-src="{{trip.image}}" class="md-card-image" alt="Washed Out">
                    <md-card-title class="trip-card__title">
                        <md-card-title-text>
                            <span class="sm-headline trip-card__title__text">{{trip.name}}</span>
                            <span>
                                <i ng-if="trip.raitingAverage > 0" class="glyphicon glyphicon-star"></i>
                                <i ng-if="trip.raitingAverage > 1" class="glyphicon glyphicon-star"></i>
                                <i ng-if="trip.raitingAverage > 2" class="glyphicon glyphicon-star"></i>
                                <i ng-if="trip.raitingAverage > 3" class="glyphicon glyphicon-star"></i>
                                <i ng-if="trip.raitingAverage > 4" class="glyphicon glyphicon-star"></i>
                            </span>
                        </md-card-title-text>
                        <span class="sm-headline trip-card__price">{{trip.price| currency}}</span>
                    </md-card-title>
                  
                    <md-card-content class="trip-card__detail">
                        <p><strong>Date: </strong> {{trip.date}}</p> 
                        <p><strong>Origin: </strong> {{trip.origin}}</p> 
                        <p><strong>Destination: </strong> {{trip.destination}}</p> 
                        <p><strong>Price: </strong> {{trip.price| currency}}</p>     
                        
                        <button ui-sref="tripDetailInstance({tripId: trip.id})" class="md-raised md-accent md-button md-ink-ripple trip-card__detail__goto">View Detail</button>
                    </md-card-content>
                </md-card>
        </div>
    </md-content>
</div>